.jumbotron img {
	width: 200px;
	border: 5px solid #333;
	box-shadow: 1px 1px 10px rgba(0,0,0,0,5)
}

.about hr {
	width: 250px;
	border-top: 3px solid #999;
}

body {
	margin-bottom: 85px;
}

.jumbotron {
	background-image: url('../img/header-bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -100px;
	color: #eaeaea;
}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 10px rgba(0,0,0,0,5)
}

.col-sm-6 img {
	width: 250px;
}


